.catalog-item {
  h4{
    margin: 20px 0;
  }
  .catalog-item__images {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 50px 68px 10px;
  }
}
