.favorite-page {
  padding: 50px 0;
  .favorite-page__card {
    width: 350px;
    height: 407.65px;
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 21px;
    position: relative;
    > figure {
      height: 237px;
    }
    .closeBtn{
      position: absolute; 
      top: 15px;
      left: 15px;
      cursor: pointer;
    }
  }
}
